<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="ciallo.jhll.powerstatusbar"
android:versionCode="1"
android:versionName="1.0">

<application
    android:allowBackup="true"
    android:icon="@drawable/ic_power_bar"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.PowerStatusBar"
    tools:targetApi="31">

    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposeddescription"
        android:value="在状态栏显示实时电池功率和温度，自动跟随时钟黑白变化颜色 - tested on HyperOS3" />
    <meta-data
        android:name="xposedminversion"
        android:value="82" />
    <meta-data
        android:name="xposedscope"
        android:resource="@array/xposedscope" />

</application>
</manifest>